<div class="mb-3">
  <div>
    <p-button (click)="add()" icon="pi pi-plus" [label]="'Añadir nuevo'" class="h-2rem w-2rem"></p-button>
  </div>
</div>

<p-table dataKey="id" [scrollable]="true" [value]="sites" [showCurrentPageReport]="true"
  [currentPageReportTemplate]="getCurrentPageTemplate()" [rowsPerPageOptions]="[10, 20, 30, 50]"
  (onPage)="updateRowsInTable($event)" [sortField]="'centralCode'" (onSort)="onSort($event)" [sortOrder]="-1"
  [loading]="!sites.length ? true : false" [globalFilterFields]="['centralCode']">
  <ng-template pTemplate="header">
    <tr>
      <th style="max-width: 5em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th  class="column-with-filter">
        <span pSortableColumn="centralCode">
          Sitio <p-sortIcon field="centralCode"></p-sortIcon>
        </span>
        <input type="text" pInputText [(ngModel)]="filter.centralCode" />
      </th>
      <th pSortableColumn="centralDescription">
        Descripción <p-sortIcon field="centralDescription"></p-sortIcon>
      </th>
      <th pSortableColumn="centralCity">
        Ciudad <p-sortIcon field="centralCity"></p-sortIcon>
      </th>
      <th pSortableColumn="centralRegion">
        Región <p-sortIcon field="centralRegion"></p-sortIcon>
      </th>
      <th pSortableColumn="centralCountry">
        País <p-sortIcon field="centralCountry"></p-sortIcon>
      </th>
      <th pSortableColumn="centralParentId">
        PadreId <p-sortIcon field="centralParentId"></p-sortIcon>
      </th>
      <th>
        Actions
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-site>
    <tr>
      <td style="max-width: 5em">
        <p-tableCheckbox [value]="site"></p-tableCheckbox>
      </td>
      <td>{{ site.centralCode }}</td>
      <td>{{ site.centralDescription }}</td>
      <td>{{ site.centralCity }}</td>
      <td>{{ site.centralRegion }}</td>
      <td>{{ site.centralCountry }}</td>
      <td>{{ site.centralParentId }}</td>
      <td class="flex gap-2">
        <p-button (click)="open(site.id)" icon="pi pi-pencil"></p-button>
        <p-button (click)="delete(site)" icon="pi pi-trash" styleClass="p-button-danger"></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td class="p-d-flex p-align-center p-justify-center">
        No hay sitios para mostrar
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator (onPageChange)="onPageChange($event)" [first]="actualFirst" [rows]="count" [totalRecords]="count"
  [rowsPerPageOptions]="[10, 20, 30]">
</p-paginator>

<p-confirmDialog [style]="{ width: '50vw' }" key="positionDialog" [position]="'top  '" [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<p-toast></p-toast>