* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 13px;
}

body {
  font-weight: 400;
  padding: 0;
  margin: 0;
  min-height: 100%;
  background: white;
  color: black;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.layout-content-wrapper {
  padding: 2rem;
}

.layout-container {
  min-height: 100vh;
}

::-webkit-scrollbar {
  scrollbar-width: thin;
  width: 5px !important;
  height: 7px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

// TEXT UTILS
.long-text {
  word-break: break-word;
}
