@import "./fonts";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  font-size: 13px;
}

body {
  font-weight: 400;
  padding: 0;
  margin: 0;
  min-height: 100%;
  background: white;
  color: black;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  display: flex;
}

.sidebar {
  z-index: 10;
  width: 15%;
  background-color: #f2f2f2;
  padding: 20px;
}

.content {
  width: 85%;
  overflow-x: hidden;
  overflow-y: scroll;
  &__wrapper {
    padding: 0 50px;
  }
}

::-webkit-scrollbar {
  scrollbar-width: thin;
  width: 5px !important;
  height: 7px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

// TEXT UTILS
.long-text {
  word-break: break-word;
}
