<app-generic-table
  [removeMessage]="'Eliminarás este sitio de forma permanente'"
  [removeMessageMultiple]="'Eliminarás {num} sitios de forma permanente'"
  [addPage]="'/security/add'"
  [editPage]="'/security/edit/'"
  [columns]="columns"
  [count]="count"
  [loading]="loading"
  [list]="list"
  [idColumn]="'securityId'"
  [nameColumn]="'windowsIdentityUserName'"
  (onGetList)="getList($event)"
  (onRemoveRow)="removeRows($event)"
  [noContentToShow]="'No hay sitios para mostrar'"
></app-generic-table>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  key="positionDialog"
  [position]="'top  '"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-outlined"
></p-confirmDialog>
<p-toast></p-toast>
