<app-generic-table
  [removeMessage]="'Eliminarás este grupo de forma permanente'"
  [removeMessageMultiple]="'Eliminarás {num} grupos de forma permanente'"
  [addPage]="'/groups/add'"
  [editPage]="'/groups/edit/'"
  [columns]="columns"
  [count]="count"
  [loading]="loading"
  [list]="list"
  [idColumn]="'userGroupId'"
  [nameColumn]="'userGroupName'"
  (onGetList)="getList($event)"
  (onRemoveRow)="removeRows($event)"
  [noContentToShow]="'No hay grupos para mostrar'"
  ></app-generic-table>
<p-confirmDialog [style]="{ width: '50vw' }" key="positionDialog" [position]="'top  '" [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<p-toast></p-toast>
