<app-generic-table
  [removeMessage]="'Eliminarás esta lista de forma permanente'"
  [removeMessageMultiple]="'Eliminarás {num} listas de forma permanente'"
  [addPage]="'/email-list/add'"
  [editPage]="'/email-list/edit/'"
  [columns]="columns"
  [count]="count"
  [loading]="loading"
  [list]="list"
  [idColumn]="'mailListId'"
  [nameColumn]="'mailListName'"
  (onGetList)="getList($event)"
  (onRemoveRow)="removeRows($event)"
  [noContentToShow]="'No hay listas para mostrar'"
  ></app-generic-table>
<p-confirmDialog [style]="{ width: '50vw' }" key="positionDialog" [position]="'top  '" [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<p-toast></p-toast>
