.top-bar {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: white;
  z-index: 5;
}

.user{
  &__info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }
  }

